@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');


.Navbar {
    overflow: hidden; 
    background-color:#edf2f4; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    

}


h1 {
    text-transform: uppercase; 
    text-align: center; 
    color: #f4f7f3; 
    font-family: 'Slackey', cursive;

}


p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px; 
    font-size: 20px;
    padding-left: 20px; 
    padding-right: 20px; 
}

img {
    border-radius: 8px; 
    max-width: 90%; /* Ensures all images stay within the width of their container */
    height: 400px; /* Sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}




#Home {
    background-image:url(images/kitten.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 450px;
    padding-bottom: 300px;

}




.Column_1 {
    float: left;
    width: 50%; 
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background-color: #f2f2f2; 
}


.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #edf2f4;
}

.Row { display: inline-block;



}




#footer {
        background-color: #edf2f4;
        color:#2b2d42;
        text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
        padding: 20px 50px 20px 50px;
        text-align: right;
    }