body {
    font-family: fantasy;
}

.jumbotron {
    background-image: url("../outside.jpg");
    background-size: cover;
    text-align: right;
    color: #ab8e0e;
    font-family: fantasy;
    padding: 100px;
}


.jumbotron p {
    color: #7a6c2d;
    text-align: right;
}

footer {
    background-color: #ab8e0e;
    position: absolute;
    bottom: 0;
    width: 100%;
}